.messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.message {
    padding: 4px;
    width: auto;
    max-width: 85%;
}

.sent {
    color: #6F8CF5;
    align-self: flex-end;

}

.received {
    color: #6F8CF5;
    align-self: flex-start;
}

.username{
    margin-left: 7px;
}

.message-text{
    word-wrap: break-word;
    padding: 7px;
    margin-bottom: 5%;
    width: auto;
    max-width: 85%;
    border-radius: 16px;
    border: 1px solid #BFA181;
}

.input-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.input-message textarea {
    max-height: 30vh;
    width: 85%;
    color: #BFA181;
    background: transparent;
    border-radius: 15px;
    border: 1px solid #BFA181;
    font-family: 'Comfortaa';
    font-size: 1vw;
    text-align: left;
    resize: none;
    overflow-y: auto;
}

.input-message textarea:focus {
    outline: #BFA181;
}


.icon-send:hover,
.icon-share:hover {
    color: #BFA181;
}

.btn-send-message {
    position: absolute;
    bottom: 6px;
    right: 2px;
    width: 3vw;
    height: 3vw;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}