.main{
    width: 90%;
    position: fixed;
    margin-top: 7%;
    left: 50%;
    transform: translate(-50%, -7%);
    display: block;
}

.user-info{
    height: max-content;
    display: inline-flex;
    margin-top: 5%;
    margin-bottom: 2%;
}

.text{
    margin-left: 3%;
}

.user-data-text{
    font-size: 1.5em;
    width: auto;
    height: fit-content;
}

.join{
    margin-bottom: 3%;
    display: inline-flex;
    justify-content: space-between;
}
.join input{
    margin-right: 2%; 
    width: 318.635px;
    height: 41.493px;
    border-top: 0;
    border-radius: 34px;
    border-right: 1px solid #BFA181;
    border-bottom: 2px solid #BFA181;
    border-left: 1px solid #BFA181;
    color: #BFA181;
    background: transparent;

    font-family: 'Comfortaa';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}