.main{
    width: 90%;
    position: fixed;
    margin-top: 7%;
    left: 50%;
    transform: translate(-50%, -7%);
    display: block;
}

.user-info{
    height: max-content;
    display: inline-flex;
    margin-bottom: 2%;
}

.text{
    margin-left: 3%;
}

.user-data-text{
    font-size: 1.5em;
    width: auto;
    height: fit-content;
}

.join{
    margin-bottom: 3%;
    display: inline-flex;
    justify-content: space-between;
}
.join input{
    margin-right: 2%;
}