:root {
    --background-color: #0A1828;
    --text-color: #BFA181;
    --button-color: #6F8CF5;
  }
  
  :root[data-theme="light"] {
    --background-color: #F8F9FA;
    --text-color: #0A1828;
    --button-color: #6F8CF5;
  }
  
  .main{
      width: 90%;
      position: fixed;
      margin-top: 7%;
      left: 50%;
      transform: translate(-50%, -7%);
      display: block;
      background-color: var(--background-color);
      color: var(--text-color);
  }
  
.user-info{
    height: max-content;
    display: inline-flex;
    margin-top: 5%;
    margin-bottom: 2%;
}

.text{
    margin-left: 3%;
}

.user-data-text{

    width: auto;
    height: fit-content;
}
.username{
    font-size: 1.5em;
}
.email{
    font-size: 1.1em;
}

.join{
    margin-bottom: 3%;
    display: inline-flex;
    justify-content: space-between;
}

.join input{
    margin-right: 2%; 
    width: 318.635px;
    height: 41.493px;
    border-top: 0;
    border-radius: 34px;
    border-right: 1px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    border-left: 1px solid var(--text-color);
    color: var(--text-color);
    background: transparent;

    font-family: 'Comfortaa';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}