.registration {
    width: 36%;
    height: 65%;
    /* width: 519.054px;
    height: 530.797px; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background: rgba(30, 75, 126, 0.38);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.right-align {
    width: 319px;
    height: 261px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.inputs {
    width: 318.635px;
    height: 224.688px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

input {
    width: 318.635px;
    height: 41.493px;
    border-top: 0;
    border-radius: 34px;
    border-right: 2px solid #BFA181;
    border-bottom: 3px solid #BFA181;
    border-left: 2px solid #BFA181;
    color: #BFA181;
    background: transparent;

    font-family: 'Comfortaa';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

p {
    color: #BFA181;
    font-family: Comfortaa;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



a{
    font-family: Comfortaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    color: #6F8CF5;
  }

@media (max-width: 767px) {
    .registration {
        width: 90%;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
        background: rgba(30, 75, 126, 0.38);
    }
    
}
