.room {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.room-id {
    /* position: fixed; */
    top: 3%;
    left: 3%;
    transform: translate(-3%, -3%);
    font-family: 'Comfortaa', sans-serif;
    color: #BFA181;
    font-size: 1em;
}

.call {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.play-window {
    position: relative;
    width: 35vw;
    height: 70vh;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.play-window:hover .btn-action {
    display: block;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 3%;
    object-fit: cover;
}

.call-buttons {
    position: absolute;
    bottom: 5px;
    width: auto;
    display: flex;
    justify-content: center;
}

.btn-action{
    width: 3vw;
    height: 3vw;
margin: 2px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-action:hover {
    box-shadow: inset 0 0 0 2px #BFA181;
    border: none;
}

.icon,
.icon-send,
.icon-share {
    width: 100%;
    height: 100%;
    color: #6F8CF5;
}


.chat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(30, 75, 126, 0.38);
    padding: 10px;
}

.messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.message {
    color: #6F8CF5;
    word-wrap: break-word;
    display: inline-block;
    padding: 10px;
    border: 1px solid #BFA181;
    border-radius: 23px;
    margin-bottom: 5%;
    max-width: 85%;
}

.input-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.input-message textarea {
    max-height: 30vh;
    width: 85%;
    color: #BFA181;
    background: transparent;
    border-radius: 15px;
    border: 1px solid #BFA181;
    font-family: 'Comfortaa';
    font-size: 1vw;
    text-align: left;
    resize: none;
    overflow-y: auto;
}

.input-message textarea:focus {
    outline: #BFA181;
}


.icon-send:hover, .icon-share:hover {
    color: #BFA181;
}

.btn-send-message {
    position: absolute;
    bottom: 6px;
    right: 2px;
    width: 3vw;
    height: 3vw;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btn-share{
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.transcript{

    display: flex;
    flex-wrap: wrap;
}

.subtitles{
    width: 80%;
    height: 80%;
    color: white;
}

.share-room {
    display: flex;
    flex-direction: column;
  }
  
  .room-id {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .share-email-form {
    margin-bottom: 10px;
  }
  
  .btn-share {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .icon-share {
    vertical-align: middle;
  }
  
  .email-sent-message {
    margin-top: 10px;
  }
  