.select-lang{
    font-family: 'Comfortaa';
    font-size: 1em;
    color: #BFA181;
    text-align: center;
    background-color: rgba(30, 75, 126, 0.38);
    border-radius: 23px;
}

.select-lang option{
    background-color: rgba(30, 75, 126);
}