.photo{
  margin-bottom: 3%;
  position: relative;
}
.photo-container {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}


.rounded-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #BFA181;
}

.placeholder{
  width: 15vw;
  height: 15vw;
  font-family: 'Comfortaa';
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #6F8CF5;
  color: #BFA181;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo {
  width: min-content;
  position: relative;
}

.select-img {
  opacity: 0;
  cursor: pointer;
}

.upload-button {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
}

.icon-upload{
  color: #4C6AEF;
  font-size: 3em;
}
.icon-upload:hover{
  color: #BFA181;
}