@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-color: #0A1828;
  /* background-image: url('./media/back.png'); */
}


.btn {
  font-family: 'Comfortaa';
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  background-color: transparent;
  padding: 0.5em 0.7em;
  border-radius: 23px;
  border: 2px solid #6F8CF5;
  color: #BFA181;
  cursor: pointer;
}

input {
  width: 318.635px;
  height: 41.493px;
  border-top: 0;
  border-radius: 34px;
  border-right: 1px solid #BFA181;
  border-bottom: 2px solid #BFA181;
  border-left: 1px solid #BFA181;
  color: #BFA181;
  background: transparent;

  font-family: 'Comfortaa';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}